---
- name: EC2 Cloud Operations
  hosts: localhost
  connection: local
  gather_facts: false

  module_defaults:
    group/aws:
      region: us-east-1

  vars:
    ec2_instance:
      name: lightspeed-instance-01
      key_name: lightspeed-keypair
      image_id: ami-016eb5d644c333ccb # RHEL 9 us-east-1
      tags:
        function: lightspeed-demo
      security_group: secgroup-lightspeed

  tasks:
    # - name: Gather subnet info tag:Name subnet-lightspeed

    # - name: Create vpc_subnet_id var

    # - name: Provision t3.micro instance
